<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
	</head>
	<style>
	body{
		background-color: #fafafa;
	}
	.page{
		margin: auto;
		width: 100%;
		max-width: 1200px;
		display: flex;
		flex-wrap: wrap;
		background-color: #FFFFFF;
	}
	.page-body{
		width: 80%;
	}
	.page-right{
		width: 20%;
		border-left: 1px solid #F0F0F0;
	}
	.label{
		font-size: 10px;
		margin: 0 20px;
		padding: 0 5px;
		background-color: #000;
		color: #FFFFFF;
	}
	</style>
	<body>
		<div>
			{{site}}
		</div>
		<div class="page">
			<div class="page-body">
				<ul>
					{% for product in site.posts %}
					<li>
						<a href="/blog{{product.url}}">
							{{ product.title }}
						</a>
						<span class="label">{{product.categories}}</span>
						<div>{{product.date}}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="page-right">
				
			</div>
		</div>
	</body>
</html>
