<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<style>
	.page{
		margin: auto;
		max-width: 1200px;
	}
	.label{
		font-size: 10px;
		margin: 0 20px;
		padding: 0 5px;
		background-color: #000;
		color: #FFFFFF;
	}
	</style>
	<body>
		<div>
			LOGO
		</div>
		<div class="page">
			<ul>
				{% for product in site.posts %}
				<li>
					<a href="/blog{{product.url}}">
						{{ product.title }}
					</a>
					<span class="label">{{product.categories}}</span>
					<div>{{product.date}}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>
