<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{page.title}}</title>
	</head>
	<style>
	body{
		background-color: #fafafa;
		margin: 0;
		padding: 0;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.page-header{
		width: 100%;
		height: 50px;
		background-color: #000000;
		color: #FFFFFF;
	}
	.page{
		margin:20px auto;
		width: 100%;
		max-width: 1200px;
		padding: 20px;
		background-color: #FFFFFF;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
	}
	</style>
	<body>
		
		<div class="page">
			<h2>{{page.title}}</h2>
			<div>
				{{content}}
			</div>
			<div >
				{% if page.previous %}
				  <a href="/blog/{{page.previous.url}}">上一篇：{{page.previous.title}}</a>
				{% else %}
				  <span>上一篇：没有了</span>
				{% endif %}
				{% if page.next %}
				<a href="/blog/{{page.next.url}}">下一篇:{{page.next.title}}</a>
				{% else %}
				<span>下一篇：没有了</span>
				{% endif %}
			</div>
		</div>
	</body>
</html>
